<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <listener-class>
            init.MyContextListener
        </listener-class>
    </listener>
    <servlet>
        <servlet-name>CreateCustomer</servlet-name>
        <servlet-class>servlet.CreateCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerHome</servlet-name>
        <servlet-class>servlet.CustomerHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerWatchList</servlet-name>
        <servlet-class>servlet.CustomerWatchList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCustomerRep</servlet-name>
        <servlet-class>servlet.CreateCustomerRep</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateRental</servlet-name>
        <servlet-class>servlet.CreateRental</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeHome</servlet-name>
        <servlet-class>servlet.EmployeeHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMovie</servlet-name>
        <servlet-class>servlet.AddMovie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BestSellingMovies</servlet-name>
        <servlet-class>servlet.BestSellingMovies</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchMovies</servlet-name>
        <servlet-class>servlet.SearchMovies</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TextSearch</servlet-name>
        <servlet-class>servlet.TextSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAllMovies</servlet-name>
        <servlet-class>servlet.ListAllMovies</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenreSearch</servlet-name>
        <servlet-class>servlet.GenreSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToWatchList</servlet-name>
        <servlet-class>servlet.AddToWatchList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditMovie</servlet-name>
        <servlet-class>servlet.EditMovie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveEditMovie</servlet-name>
        <servlet-class>servlet.SaveEditMovie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMovie</servlet-name>
        <servlet-class>servlet.DeleteMovie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllCustomers</servlet-name>
        <servlet-class>servlet.ViewAllCustomers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateRentalForm</servlet-name>
        <servlet-class>servlet.CreateRentalForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllEmployees</servlet-name>
        <servlet-class>servlet.ViewAllEmployees</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditEmployee</servlet-name>
        <servlet-class>servlet.EditEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEmployee</servlet-name>
        <servlet-class>servlet.DeleteEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveEditEmployee</servlet-name>
        <servlet-class>servlet.SaveEditEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RentalSearch</servlet-name>
        <servlet-class>servlet.RentalSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCustomer</servlet-name>
        <servlet-class>servlet.EditCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCustomer</servlet-name>
        <servlet-class>servlet.DeleteCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalesReport</servlet-name>
        <servlet-class>servlet.SalesReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerRepMostRentals</servlet-name>
        <servlet-class>servlet.CustomerRepMostRentals</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateCustomer</servlet-name>
        <url-pattern>/CreateCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerHome</servlet-name>
        <url-pattern>/Customer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerWatchList</servlet-name>
        <url-pattern>/CustomerWatchList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCustomerRep</servlet-name>
        <url-pattern>/CreateCustomerRep</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateRental</servlet-name>
        <url-pattern>/CreateRental</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeHome</servlet-name>
        <url-pattern>/Employee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BestSellingMovies</servlet-name>
        <url-pattern>/BestSellingMovies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMovie</servlet-name>
        <url-pattern>/AddMovie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchMovies</servlet-name>
        <url-pattern>/SearchMovies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TextSearch</servlet-name>
        <url-pattern>/TextSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAllMovies</servlet-name>
        <url-pattern>/ListAllMovies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenreSearch</servlet-name>
        <url-pattern>/GenreSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToWatchList</servlet-name>
        <url-pattern>/AddToWatchList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditMovie</servlet-name>
        <url-pattern>/EditMovie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveEditMovie</servlet-name>
        <url-pattern>/SaveEditMovie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMovie</servlet-name>
        <url-pattern>/DeleteMovie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllCustomers</servlet-name>
        <url-pattern>/ViewAllCustomers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateRentalForm</servlet-name>
        <url-pattern>/CreateRentalForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllEmployees</servlet-name>
        <url-pattern>/ViewAllEmployees</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditEmployee</servlet-name>
        <url-pattern>/EditEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEmployee</servlet-name>
        <url-pattern>/DeleteEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveEditEmployee</servlet-name>
        <url-pattern>/SaveEditEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RentalSearch</servlet-name>
        <url-pattern>/RentalSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCustomer</servlet-name>
        <url-pattern>/EditCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCustomer</servlet-name>
        <url-pattern>/DeleteCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalesReport</servlet-name>
        <url-pattern>/SalesReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerRepMostRentals</servlet-name>
        <url-pattern>/CustomerRepMostRentals</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
